In [2]:
import os

os.getcwd()

'/Users/prbnrs/GIT/Data-Engineering-ZoomCamp/HW/HW01'

# installation
```bash
pip install psycopg2
pip install psycopg2-binary
```

# Download data

```bash
wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz -O data/green_tripdata_2019-10.csv.gz
```


```bash
wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv -O data/taxi_zone_lookup.csv
```

---

PostGres server

```bash
docker run -d \
  -e POSTGRES_USER="root" \
  -e POSTGRES_PASSWORD="root" \
  -e POSTGRES_DB="tripdata" \
  -v $(pwd)/vol/postgres_data:/var/lib/postgresql/data \
  -p 5433:5432 \
  postgres:13
```

---

Dockerfile:

```docker
FROM python:3.12.8

RUN apt-get install wget
RUN pip install pandas sqlalchemy psycopg2

WORKDIR /app
COPY ingest_data.py ingest_data.py 

ENTRYPOINT [ "python", "ingest_data.py" ]
```

```bash
docker build -t test:hw01 .
```

```bash
docker run -it test:hw01
```

---

Download Data

```bash
URL="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz"

python ingest_data.py \
    --user=root \
    --password=root \
    --host=localhost \
    --port=5433 \
    --db=tripdata \
    --table_name=green_tripdata \
    --url=${URL}
    --dtype '{"lpep_pickup_datetime": "str", "lpep_dropoff_datetime": "str"}' \
    --parse_dates "lpep_pickup_datetime,lpep_dropoff_datetime"
```

```bash
URL="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"

python ingest_data.py \
    --user=root \
    --password=root \
    --host=localhost \
    --port=5432 \
    --db=tripdata \
    --table_name=taxi_zone_lookup \
    --url=${URL}
```

---

In [18]:
import pandas as pd
from sqlalchemy import create_engine

In [30]:
engine = create_engine('postgresql://root:root@localhost:5433/tripdata')

In [31]:
engine.connect()

In [32]:
q1 = '''
SELECT 1 as number;
'''

pd.read_sql(q1, con = engine)

   number
0       1

In [40]:
q1 = '''
SELECT
    table_schema || '.' || table_name as Table
FROM
    information_schema.tables
WHERE
    table_type = 'BASE TABLE'
AND
    table_schema NOT IN ('pg_catalog', 'information_schema');
'''

pd.read_sql(q1, con = engine)

                     table
0    public.green_tripdata
1  public.taxi_zone_lookup

---

pgadmin:

```bash
docker run -it \
    -e PGADMIN_DEFAULT_EMAIL="admin@admin.com" \
    -e PGADMIN_DEFAULT_PASSWORD="root" \
    -p 8080:80 \
    dpage/pgadmin4
```

However we cannot connect the both 

to connect we need to form a network

---

## Form a network

Network:
```bash
docker network create pg-network
```

PostGres server:
```bash
docker run -d \
    -e POSTGRES_USER="root" \
    -e POSTGRES_PASSWORD="root" \
    -e POSTGRES_DB="tripdata" \
    -v $(pwd)/vol/postgres_data:/var/lib/postgresql/data \
    -p 5433:5432 \
    --network=pg-network \
    --name pg-db \
    postgres:13
```

pgadmin:
```bash
docker run -it \
    -e PGADMIN_DEFAULT_EMAIL="admin@admin.com" \
    -e PGADMIN_DEFAULT_PASSWORD="root" \
    -p 8080:80 \
    --network=pg-network \
    --name pg-admin \
    dpage/pgadmin4
```

Load URL:
```bash
URL_green_tripdata="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz"
URL_zone_lookup="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"
```

Load green_tripdata:
```bash
docker run -it \
    --network=pg-network \
    --name py-notebook \
    test:hw01 \
        --user=root \
        --password=root \
        --host=localhost \
        --port=5433 \
        --db=tripdata \
        --table_name=green_tripdata \
        --url=${URL_green_tripdata}
        --dtypes '{"lpep_pickup_datetime": "str", "lpep_dropoff_datetime": "str"}' \
        --parse_dates "lpep_pickup_datetime,lpep_dropoff_datetime"
```

Load zone_lookup:
```bash
docker run -it \
    --network=pg-network \
    --name py-notebook \
    test:hw01 \
        --user=root \
        --password=root \
        --host=localhost \
        --port=5433 \
        --db=tripdata \
        --table_name=taxi_zone_lookup \
        --url=${URL_zone_lookup}
```

Docker compose:

To build:
```bash
docker compose build
```

To start:
```bash
docker compose up -d
```

To view:
```bash
docker compose ps
```

To stop:
```bash
docker compose down
```

To enter a nopen container
```bash
docker exec -it [container-id] bash
```

---

Enter py-notebook
```bash
docker exec -it py-notebook bash
```

Ingest data
```bash
URL="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz"

python ingest_data.py \
    --user=postgres \
    --password=postgres \
    --host=db \
    --port=5432 \
    --db=ny_taxi \
    --table_name=green_tripdata \
    --url=${URL} \
    # --dtypes '{"lpep_pickup_datetime": "str", "lpep_dropoff_datetime": "str"}' \
    --parse_dates 'lpep_pickup_datetime,lpep_dropoff_datetime'
```

```bash
URL="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"

python ingest_data.py \
    --user=postgres \
    --password=postgres \
    --host=db \
    --port=5432 \
    --db=ny_taxi \
    --table_name=taxi_zone_lookup \
    --url=${URL}
```

---

Question 3. Trip Segmentation Count
During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened:

Up to 1 mile
In between 1 (exclusive) and 3 miles (inclusive),
In between 3 (exclusive) and 7 miles (inclusive),
In between 7 (exclusive) and 10 miles (inclusive),
Over 10 miles


```sql
SELECT 
    CASE
        WHEN trip_distance <= 1 THEN 'Up to 1 mile'
        WHEN trip_distance > 1 AND trip_distance <= 3 THEN '1 to 3 miles'
        WHEN trip_distance > 3 AND trip_distance <= 7 THEN '3 to 7 miles'
        WHEN trip_distance > 7 AND trip_distance <= 10 THEN '7 to 10 miles'
        ELSE 'Over 10 miles'
    END AS distance_range,
    COUNT(*) AS trip_count
FROM 
    green_tripdata
WHERE 
    lpep_pickup_datetime >= '2019-10-01'
    AND lpep_pickup_datetime < '2019-11-01'
GROUP BY 
    distance_range
ORDER BY 
    distance_range;

```


"distance_range"	"trip_count"
"1 to 3 miles"	198924
"3 to 7 miles"	109603
"7 to 10 miles"	27678
"Over 10 miles"	35189
"Up to 1 mile"	104802

Answer:
104,802; 198,924; 109,603; 27,678; 35,189

---

Question 4. Longest trip for each day
Which was the pick up day with the longest trip distance? Use the pick up time for your calculations.

Tip: For every day, we only care about one single trip with the longest distance.

2019-10-11
2019-10-24
2019-10-26
2019-10-31

```sql
WITH Longest_Trips_Per_Day AS (
    SELECT 
        DATE(lpep_pickup_datetime) AS trip_date,
        MAX(trip_distance) AS max_trip_distance
    FROM 
        green_tripdata
    WHERE 
        lpep_pickup_datetime >= '2019-10-01'
        AND lpep_pickup_datetime < '2019-11-01'
    GROUP BY 
        trip_date
),
Filtered_Days AS (
    SELECT 
        trip_date,
        max_trip_distance
    FROM 
        Longest_Trips_Per_Day
    WHERE 
        trip_date IN ('2019-10-11', '2019-10-24', '2019-10-26', '2019-10-31')
)
SELECT 
    trip_date,
    max_trip_distance,
    CASE 
        WHEN max_trip_distance = (SELECT MAX(max_trip_distance) FROM Filtered_Days)
        THEN 'Longest trip of all days'
        ELSE NULL
    END AS note
FROM 
    Filtered_Days;

```

Results:
"trip_date"	"max_trip_distance"	"note"
"2019-10-26"	91.56	
"2019-10-31"	515.89	"Longest trip of all days"
"2019-10-24"	90.75	
"2019-10-11"	95.78	


Answer
"2019-10-31"

---

**Question 5. Three biggest pickup zones**

Which were the top pickup locations with over 13,000 in total_amount (across all trips) for 2019-10-18?

Consider only lpep_pickup_datetime when filtering by date.

East Harlem North, East Harlem South, Morningside Heights
East Harlem North, Morningside Heights
Morningside Heights, Astoria Park, East Harlem South
Bedford, East Harlem North, Astoria Park

```sql
SELECT 
    t."Zone" AS pickup_zone,
    SUM(g.total_amount) AS total_fare_amount
FROM public.green_tripdata AS g
JOIN public.taxi_zone_lookup AS t
ON g."PULocationID" = t."LocationID"
WHERE DATE(g.lpep_pickup_datetime) = '2019-10-18'
GROUP BY t."Zone"
HAVING SUM(g.total_amount) > 13000
ORDER BY total_fare_amount DESC
LIMIT 3;
```

"pickup_zone"	"total_fare_amount"
"East Harlem North"	18686.680000000084
"East Harlem South"	16797.260000000068
"Morningside Heights"	13029.790000000037

Answer:
East Harlem North, East Harlem South, Morningside Heights

---

Question 6. Largest tip
For the passengers picked up in October 2019 in the zone named "East Harlem North" which was the drop off zone that had the largest tip?

Note: it's tip , not trip

We need the name of the zone, not the ID.

Yorkville West
JFK Airport
East Harlem North
East Harlem South

```sql
SELECT 
    tz.Zone AS dropoff_zone,
    MAX(g.tip_amount) AS largest_tip
FROM green_tripdata g
JOIN taxi_zone_lookup tz_pickup
ON g.PULocationID = tz_pickup.LocationID
JOIN taxi_zone_lookup tz
ON g.DOLocationID = tz.LocationID
WHERE tz_pickup.Zone = 'East Harlem North'
    AND DATE(g.lpep_pickup_datetime) BETWEEN '2019-10-01' AND '2019-10-31'
GROUP BY tz.Zone
ORDER BY  largest_tip DESC
LIMIT 1;
```

Result:
"dropoff_zone"	"largest_tip"
"JFK Airport"	87.3

Answer:
JFK Airport

---

Question 7. Terraform Workflow
Which of the following sequences, respectively, describes the workflow for:

Downloading the provider plugins and setting up backend,
Generating proposed changes and auto-executing the plan
Remove all resources managed by terraform`
Answers:

terraform import, terraform apply -y, terraform destroy
teraform init, terraform plan -auto-apply, terraform rm
terraform init, terraform run -auto-approve, terraform destroy
terraform init, terraform apply -auto-approve, terraform destroy
terraform import, terraform apply -y, terraform rm

Answer: 
terraform init, terraform apply -auto-approve, terraform destroy

---